<ng-container *ngIf="storeInfo !== undefined">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>{{storeInfo.storeName}}</span>
      <span class="example-spacer"></span>
      <a [href]="'tel:'+storeInfo.tel" target="_blank" *ngIf="storeInfo.tel !== ''">
        <mat-icon svgIcon="phone"></mat-icon>
      </a>
      <a [href]="'https://www.google.com/maps/search/'+storeInfo.address" target="_blank"
        *ngIf="storeInfo.address !== ''">
        <mat-icon svgIcon="directions"></mat-icon>
      </a>
      <a [href]="'https://line.me/ti/p/~'+storeInfo.lineId" target="_blank" *ngIf="storeInfo.lineId !== ''">
        <mat-icon svgIcon="lineLogo"></mat-icon>
      </a>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="slideshowDiv">
    <slideshow [showDots]="true" [imageUrls]="storeInfo.imageUrlArray"></slideshow>
  </div>

  <div class="container">
    <h2 style="text-align: center;">{{storeInfo.slogan}}</h2>
  </div>

  <div class="container">
    <div class="flex-div" *ngFor="let sloganTag of storeInfo.sloganTag;">
      <div class="flex-item" *ngFor="let item of sloganTag">
        <button mat-raised-button [color]="item.color">{{item.text}}</button>
      </div>
    </div>
  </div>

  <div class="container">
    <mat-card>
      <mat-card-content class="cardInfo">
        <p>{{storeInfo.card.title}}</p>
        <ul>
          <li *ngFor="let list of storeInfo.card.list">{{list}}</li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="parallax">
    <img [src]="storeInfo.parallax.backgroudImage">
    <div>
      <h3>{{storeInfo.parallax.text}}</h3>
    </div>
  </div>

  <div class="container">
    <table class="table table-bordered">
      <ng-container *ngFor="let plan of storeInfo.plan;let i = index;">
        <ng-container *ngIf="i === 0;else planelse">
          <tr>
            <th>{{plan.moneyTotal}}</th>
            <th>{{plan.moneyTake}}</th>
            <th>{{plan.returnDays}}</th>
            <th>{{plan.moneyReturn}}</th>
          </tr>
        </ng-container>
        <ng-template #planelse>
          <tr>
            <td>{{plan.moneyTotal}}</td>
            <td>{{plan.moneyTake}}</td>
            <td>{{plan.returnDays}}</td>
            <td>{{plan.moneyReturn}}</td>
          </tr>
        </ng-template>
      </ng-container>
    </table>
  </div>

  <a [href]="'tel:'+storeInfo.tel" target="_blank">
    <div style="background-color: #ff0000;text-align: center;color: #ffffff">
      <br>
      <p style="white-space: pre-line">{{storeInfo.floorText}}</p>
      <h2>
        <mat-icon svgIcon="phone"></mat-icon> {{storeInfo.tel}} {{storeInfo.userName}}
      </h2>
      <br>
    </div>
  </a>
</ng-container>
