<ngb-carousel [interval]="6000">
  <ng-template ngbSlide *ngFor="let carousel of carouselArr">
    <img [src]="carousel.image">
    <div class="carousel-caption">
      <h3>{{carousel.h3}}</h3>
      <p>{{carousel.p}}</p>
    </div>
  </ng-template>
</ngb-carousel>

<h1 align="center" style="margin: 20px 0 5px;letter-spacing: 4px;font-size: 2.15rem;">高評分的當舖平台</h1>

<div class="parallax">
  <img src="https://picsum.photos/id/122/800/530">
  <div style="-webkit-filter: drop-shadow(12px 5px 7px rgba(0, 0, 0, 0.65));
  filter: drop-shadow(12px 5px 7px rgba(0, 0, 0, 0.65));">
    <h3>立即加入，開拓客源</h3>
  </div>
</div>

<div class="container" style="margin-bottom: 15px;">
  <h3 align="center" style="margin-bottom: 10px;">使用案例</h3>
  <div class="flex-div case">
    <div class="flex-case" *ngFor="let pawn of pawns">
      <p class="mat-chip">{{pawn.storeName}}</p>
      <img [src]="'assets/pawn/image/'+pawn.tel+'.jpg'" width="100%">
      <button mat-raised-button color="primary" [routerLink]="pawn.tel">前往觀看</button>
    </div>
  </div>
</div>

<h3 align="center" style="margin-bottom: 10px;">價格方案</h3>
<div class="container">
  <div class="flex-div">
    <div class="flex-item" *ngFor="let plan of plans;let i = index" [ngClass]="{'bowrain': i==1}">
      <mat-card class="plan">
        <h4>{{plan.product}}</h4>
        <a mat-raised-button [href]="plan.link" target="_blank">${{plan.money}}</a>
        <span></span>
        <button mat-button>${{math.round(plan.money/plan.month)}}/月</button>
        <mat-divider></mat-divider>
        <p>包含</p>
        <p><img src="https://image.flaticon.com/icons/svg/390/390973.svg">&nbsp;質感圖庫</p>
        <p><img src="https://image.flaticon.com/icons/svg/390/390973.svg">&nbsp;排名優化</p>
        <p><img src="https://image.flaticon.com/icons/svg/390/390973.svg">&nbsp;專員修改</p>
      </mat-card>
    </div>
  </div>
</div>

<br>
<br>
